.kine_auth{
    background-image: url('../../assets/kine_auth.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.center{
    margin: 0 auto;
}

.input_login:focus{
    border: #5138EE 2px solid ;
}


.input_login{
    border: 2px solid rgb(229, 231, 235);
}